{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello</h1>

    <p>
        This is the homepage.
    </p>
    {% if is_granted('ROLE_USER') %}
        <ul>
            <a href="{{ path('profile') }}">Profile</a>
            <a href="{{ logout_path() }}">Log out</a>
        </ul>
    {% else %}
        <a href="{{ path('register') }}">Register</a>
        <p><a href="{{ path('app_login') }}">Log in</a></p>
    {% endif %}
</div>
{% endblock %}
